---
type Props = {
  strokes: string;
};
const { strokes } = Astro.props;
---

<p class="bg-slate-200 rounded-md px-2 w-fit my-2 whitespace-pre">
  <span class="text-lg font-sans">Strokes:</span>
  <code class="text-xl font-mono font-semibold"
    >{
      strokes
        .replaceAll(/D/gi, "⊓")
        .replaceAll(/U/gi, "∨")
        .replaceAll(/X/gi, "×")
    }</code
  >
</p>
